# Importing the global height data
## source:

In [9]:
# importing modules
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
from pprint import pprint

### Importing raw file

In [10]:

# athlete events df from csv
global_file = os.path.join("..","data", "rawData","NCD_RisC_eLife_2016_height_age18_countries.txt")
global_df = pd.read_csv(global_file, encoding="ISO-8859-1")

# To get the raw data count, commented out to keep the original df .head() results prominent
raw_count = len(global_df)

# preview the raw data
global_df.head()

,Country,ISO,Sex,Year of birth,Mean height (cm),Mean height lower 95% uncertainty interval (cm),Mean height upper 95% uncertainty interval (cm)
0,Afghanistan,AFG,Men,1896,161.164095,154.484285,167.754033
1,Afghanistan,AFG,Men,1897,161.196286,154.571603,167.659618
2,Afghanistan,AFG,Men,1898,161.228297,154.707340,167.602576
3,Afghanistan,AFG,Men,1899,161.260727,154.835644,167.528113
4,Afghanistan,AFG,Men,1900,161.293068,154.959540,167.508077

### Check for nulls...

In [11]:
# checking for any null values
pd.isna(global_df).any()

# looks good!

Country                                            False
ISO                                                False
Sex                                                False
Year of birth                                      False
Mean height (cm)                                   False
Mean height lower 95% uncertainty interval (cm)    False
Mean height upper 95% uncertainty interval (cm)    False
dtype: bool

### Grab only 1960-2016, but at estimated Olympic age (since we have DOB)
We may need to add something to year of birth to align the data better.  Someone competing in the 2000 Olympics would have been born sometime in the 1980's.\n 
Maybe we need to grab the median age from olympic data?
For now, setting offset to 20 years...

In [12]:
# variable to store generation offset
age_offset = 20

# new column to show "estimated" year of olympic competition
global_df['Olympic Year'] = global_df['Year of birth'] + age_offset

# verify
# global_df.head()

# now just grab the years we are interested in "Olympic Year" >= 1960 and <= 2016
globalModern = global_df.loc[global_df['Olympic Year']>=1960]

globalModern

,Country,ISO,Sex,Year of birth,Mean height (cm),Mean height lower 95% uncertainty interval (cm),Mean height upper 95% uncertainty interval (cm),Olympic Year
44,Afghanistan,AFG,Men,1940,163.438996,158.235582,168.720947,1960
45,Afghanistan,AFG,Men,1941,163.504155,158.335069,168.802901,1961
46,Afghanistan,AFG,Men,1942,163.570066,158.404699,168.860023,1962
47,Afghanistan,AFG,Men,1943,163.638285,158.456715,168.937749,1963
48,Afghanistan,AFG,Men,1944,163.708753,158.488334,168.986865,1964
...,...,...,...,...,...,...,...,...
40395,Zimbabwe,ZWE,Women,1992,158.583941,157.616103,159.567100,2012
40396,Zimbabwe,ZWE,Women,1993,158.492266,157.484493,159.514718,2013
40397,Zimbabwe,ZWE,Women,1994,158.400025,157.344074,159.477240,2014
40398,Zimbabwe,ZWE,Women,1995,158.307779,157.202394,159.446416,2015
40399,Zimbabwe,ZWE,Women,1996,158.215186,157.061202,159.414703,2016

### Now only go every 4 years...

In [22]:
# lol, there should be an easier way, just hard coded for now...
olympic_yrs = [1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

# make it a dataframe
olympicYr_df = pd.DataFrame({
    'Olympic Year': olympic_yrs
})

olympicYr_df

# now merge with global height data
globalOlympic = pd.merge(globalModern,olympicYr_df, on='Olympic Year', how='inner')

# # looking at it
globalOlympic.head(20)

,Country,ISO,Sex,Year of birth,Mean height (cm),Mean height lower 95% uncertainty interval (cm),Mean height upper 95% uncertainty interval (cm),Olympic Year
0,Afghanistan,AFG,Men,1940,163.438996,158.235582,168.720947,1960
1,Albania,ALB,Men,1940,169.648313,167.315784,171.914644,1960
2,Algeria,DZA,Men,1940,169.681490,168.294056,171.066134,1960
3,American Samoa,ASM,Men,1940,171.572884,170.698323,172.471518,1960
4,Andorra,AND,Men,1940,169.272019,164.217715,174.327118,1960
5,Angola,AGO,Men,1940,167.136859,161.818527,172.428728,1960
6,Antigua and Barbuda,ATG,Men,1940,169.217171,164.143165,174.243304,1960
7,Argentina,ARG,Men,1940,169.434674,167.816878,171.034890,1960
8,Armenia,ARM,Men,1940,169.094857,166.593290,171.516715,1960
9,Australia,AUS,Men,1940,174.667498,174.122927,175.207059,1960
10,Austria,AUT,Men,1940,174.500633,172.987369,176.004960,1960
11,Azerbaijan,AZE,Men,1940,169.921242,168.080774,171.678555,1960
12,Bahamas,BHS,Men,1940,169.241830,164.285197,174.220946,1960
13,Bahrain,BHR,Men,1940,164.988760,163.374808,166.638671,1960
14,Bangladesh,BGD,Men,1940,162.326569,161.333328,163.341773,1960
15,Barbados,BRB,Men,1940,172.167640,170.642412,173.742655,1960
16,Belarus,BLR,Men,1940,172.499255,167.402824,177.646362,1960
17,Belgium,BEL,Men,1940,172.772218,172.102739,173.422108,1960
18,Belize,BLZ,Men,1940,165.782182,163.764150,167.840056,1960
19,Benin,BEN,Men,1940,168.012237,166.404973,169.601039,1960

### Convert to Imperial

In [23]:
# conver the height stuff
globalOlympic['Mean height (inches)'] = globalOlympic['Mean height (cm)'].apply(lambda x: x / 2.54)
globalOlympic['Mean height lower 95% uncertainty interval (inches)'] = globalOlympic['Mean height lower 95% uncertainty interval (cm)'].apply(lambda x: x / 2.54)
globalOlympic['Mean height upper 95% uncertainty interval (inches)'] = globalOlympic['Mean height upper 95% uncertainty interval (cm)'].apply(lambda x: x / 2.54)

# looking at new columns
globalOlympic.head()

,Country,ISO,Sex,Year of birth,Mean height (cm),Mean height lower 95% uncertainty interval (cm),Mean height upper 95% uncertainty interval (cm),Olympic Year,Mean height (inches),Mean height lower 95% uncertainty interval (inches),Mean height upper 95% uncertainty interval (inches)
0,Afghanistan,AFG,Men,1940,163.438996,158.235582,168.720947,1960,64.346061,62.297473,66.425570
1,Albania,ALB,Men,1940,169.648313,167.315784,171.914644,1960,66.790674,65.872356,67.682931
2,Algeria,DZA,Men,1940,169.681490,168.294056,171.066134,1960,66.803736,66.257502,67.348872
3,American Samoa,ASM,Men,1940,171.572884,170.698323,172.471518,1960,67.548380,67.204064,67.902173
4,Andorra,AND,Men,1940,169.272019,164.217715,174.327118,1960,66.642527,64.652644,68.632724

### Chart some stuff

### save clean data to csv, to be used when datasets are combined