## Import Dependencies

In [1]:
# importing modules
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

## Read athlete height dataset

In [2]:
# athlete events df from csv
athlete_events_file = os.path.join("..","data", "rawData","athlete_events.csv")
athlete_events_df = pd.read_csv(athlete_events_file, encoding="ISO-8859-1")
athlete_events_df.head()
# len(athlete_events_df)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

## Removing winter olympics

In [63]:
summer_df = athlete_events_df.loc[athlete_events_df['Season']=='Summer']

# summer_imp_df = summer_df['Height']/2.54

# converting metric to the correct system
summer_df['Height'] = (summer_df['Height']/2.54).round(decimals=2)
summer_df['Weight'] = (summer_df['Weight']/.453592).round(decimals=2)

summer_df

C:\Users\mdowl\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\mdowl\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,70.87,176.37,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,66.93,132.28,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,66.14,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
27,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,66.14,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
29,10,"Einar Ferdinand ""Einari"" Aalto",M,26.0,NaN,NaN,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Swimming,Swimming Men's 400 metres Freestyle,NaN
31,12,Jyri Tapani Aalto,M,31.0,67.72,154.32,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN
32,13,Minna Maarit Aalto,F,30.0,62.60,122.36,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Women's Windsurfer,NaN
33,13,Minna Maarit Aalto,F,34.0,62.60,122.36,Finland,FIN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,NaN
35,15,Arvo Ossian Aaltonen,M,22.0,NaN,NaN,Finland,FIN,1912 Summer,1912,Summer,Stockholm,Swimming,Swimming Men's 200 metres Breaststroke,NaN
36,15,Arvo Ossian Aaltonen,M,22.0,NaN,NaN,Finland,FIN,1912 Summer,1912,Summer,Stockholm,Swimming,Swimming Men's 400 metres Breaststroke,NaN
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
39,15,Arvo Ossian Aaltonen,M,34.0,NaN,NaN,Finland,FIN,1924 Summer,1924,Summer,Paris,Swimming,Swimming Men's 200 metres Breaststroke,NaN
41,17,Paavo Johannes Aaltonen,M,28.0,68.90,141.10,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
42,17,Paavo Johannes Aaltonen,M,28.0,68.90,141.10,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
43,17,Paavo Johannes Aaltonen,M,28.0,68.90,141.10,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Floor Exercise,NaN
44,17,Paavo Johannes Aaltonen,M,28.0,68.90,141.10,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
45,17,Paavo Johannes Aaltonen,M,28.0,68.90,141.10,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Parallel Bars,NaN
46,17,Paavo Johannes Aaltonen,M,28.0,68.90,141.10,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
47,17,Paavo Johannes Aaltonen,M,28.0,68.90,141.10,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Rings,NaN
48,17,Paavo Johannes Aaltonen,M,28.0,68.90,141.10,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
49,17,Paavo Johannes Aaltonen,M,32.0,68.90,141.10,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Individual All-Around,NaN
50,17,Paavo Johannes Aaltonen,M,32.0,68.90,141.10,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Team All-Around,Bronze
51,17,Paavo Johannes Aaltonen,M,32.0,68.90,141.10,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Floor Exercise,NaN
52,17,Paavo Johannes Aaltonen,M,32.0,68.90,141.10,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Horse Vault,NaN
53,17,Paavo Johannes Aaltonen,M,32.0,68.90,141.10,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Parallel Bars,NaN
54,17,Paavo Johannes Aaltonen,M,32.0,68.90,141.10,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
55,17,Paavo Johannes Aaltonen,M,32.0,68.90,141.10,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Rings,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271054,135547,Viktoriya Viktorovna Zyabkina,F,23.0,68.50,136.69,Kazakhstan,KAZ,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN
271055,135547,Viktoriya Viktorovna Zyabkina,F,23.0,68.50,136.69,Kazakhstan,KAZ,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
271056,135548,Yury Ivanovich Zyabrev,M,25.0,68.50,136.69,Soviet Union,URS,1972 Summer,1972,Summer,Munich,Equestrianism,"Equestrianism Mixed Jumping, Team",NaN
271075,135552,Jan (Johann-) Zybert (Siebert-),M,20.0,NaN,NaN,Poland,POL,1928 Summer,1928,Summer,Amsterdam,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN
271076,135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,66.14,176.37,Soviet Union,URS,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's Shot Put,Gold
271077,135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,66.14,176.37,Soviet Union,URS,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's Javelin Throw,NaN
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,66.14,176.37,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver
271079,135553,Galina Ivanovna Zybina (-Fyodorova),F,29.0,66.14,176.37,Soviet Union,URS,1960 Summer,1960,Summer,Roma,Athletics,Athletics Women's Shot Put,NaN
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,66.14,176.37,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze
271081,135554,Bogusaw Zych,M,28.0,71.65,180.78,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Individual",NaN
271082,135554,Bogusaw Zych,M,28.0,71.65,180.78,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze
271083,135554,Bogusaw Zych,M,36.0,71.65,180.78,Poland,POL,1988 Summer,1988,Summer,Seoul,Fencing,"Fencing Men's Foil, Individual",NaN
271084,135554,Bogusaw Zych,M,36.0,71.65,180.78,Poland,POL,1988 Summer,1988,Summer,Seoul,Fencing,"Fencing Men's Foil, Team",NaN
271085,135554,Bogusaw Zych,M,36.0,71.65,180.78,Poland,POL,1988 Summer,1988,Summer,Seoul,Fencing,"Fencing Men's epee, Team",NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19.0,74.41,176.37,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Butterfly,NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19.0,74.41,176.37,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Butterfly,NaN
271089,135557,Dominik ycki,M,34.0,75.59,209.44,Poland,POL,2008 Summer,2008,Summer,Beijing,Sailing,Sailing Men's Two Person Keelboat,NaN
271090,135557,Dominik ycki,M,38.0,75.59,209.44,Poland,POL,2012 Summer,2012,Summer,London,Sailing,Sailing Men's Two Person Keelboat,NaN
271091,135558,ukasz Tomasz ygado,M,32.0,78.74,196.21,Poland,POL,2012 Summer,2012,Summer,London,Volleyball,Volleyball Men's Volleyball,NaN
271099,135560,Stavroula Zygouri,F,36.0,67.32,138.89,Greece,GRE,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN
271100,135561,Frantiek Zyka,M,26.0,NaN,NaN,Czechoslovakia,TCH,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's Marathon,NaN
271101,135562,Milan Zyka,M,24.0,68.11,149.91,Czechoslovakia,TCH,1972 Summer,1972,Summer,Munich,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN
271102,135563,Olesya Nikolayevna Zykina,F,19.0,67.32,141.10,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,67.32,141.10,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver
271105,135565,Fernando scar Zylberberg,M,23.0,66.14,167.55,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Men's Hockey,NaN
271106,135565,Fernando scar Zylberberg,M,27.0,66.14,167.55,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,68.90,165.35,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,72.05,158.73,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,72.05,158.73,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,67.32,152.12,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

## Find rows where athlete height are missing

In [64]:
# looking at records missing height
missing_df = summer_df.loc[summer_df['Height'].isnull()]
# missing_df.head()

len(missing_df)

51857

## verifying missing height row count

In [65]:
null_height_group = missing_df.groupby('Year')['ID'].count()

null_height_sum = null_height_group.sum()

null_height_sum

51857

## get full count by year to compare to missing heights

In [66]:
year_count = summer_df.groupby('Year')['ID'].count()
# year_count

missing_percent = 100* (null_height_group / year_count)

missing_percent

Year
1896    87.894737
1900    94.008264
1904    83.627978
1906    85.170225
1908    84.682361
1912    82.153465
1920    82.129543
1924    83.088095
1928    82.912660
1932    65.746042
1936    83.768829
1948    83.559719
1952    75.356711
1956    54.320265
1960     4.692696
1964     3.531550
1968     1.106195
1972     2.775621
1976     4.143039
1980     3.198442
1984     4.463719
1988     2.641854
1992    19.449796
1996    13.577649
2000     0.889950
2004     0.267797
2008     1.110131
2012     1.300310
2016     1.285798
Name: ID, dtype: float64

In [67]:
summer_clean = summer_df.loc[summer_df['Year']>=1960]

# len(summer_clean) 166,267
df = summer_clean.dropna(how='any',subset=['Height'])
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,70.87,176.37,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,66.93,132.28,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
31,12,Jyri Tapani Aalto,M,31.0,67.72,154.32,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN
32,13,Minna Maarit Aalto,F,30.0,62.60,122.36,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Women's Windsurfer,NaN
33,13,Minna Maarit Aalto,F,34.0,62.60,122.36,Finland,FIN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,NaN

## look at sports by year (distribution)

In [70]:
# sports = df['Sport'].unique().tolist()

# sports
sportsByYear = df.groupby(['Sport','Year'])['Year'].count()

df2 = pd.DataFrame(sportsByYear)

group2 = df2.groupby('Sport')['Year'].count().reset_index()

sportList = pd.DataFrame(group2)
sportList.head()

keepSports = sportList.loc[sportList['Year']==15]

# keepSports.head()

keepSportsList = keepSports['Sport']

# type(keepSportsList)

reallyCleanData = pd.merge(keepSportsList, df, on='Sport', how='inner')


reallyCleanData.loc[reallyCleanData.Medal.isnull(), 'MedalYN']='No'
reallyCleanData.loc[reallyCleanData.Medal.notnull(), 'MedalYN']='Yes'

reallyCleanData.head(50)
# gb2 = sportsByYear.groupby('Year')['Sport'].count()
# gb2

,Sport,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Event,Medal,MedalYN
0,Athletics,18,Timo Antero Aaltonen,M,31.0,74.41,286.60,Finland,FIN,2000 Summer,2000,Summer,Sydney,Athletics Men's Shot Put,NaN,No
1,Athletics,34,Jamale (Djamel-) Aarrass (Ahrass-),M,30.0,73.62,167.55,France,FRA,2012 Summer,2012,Summer,London,"Athletics Men's 1,500 metres",NaN,No
2,Athletics,49,Moonika Aava,F,24.0,66.14,143.30,Estonia,EST,2004 Summer,2004,Summer,Athina,Athletics Women's Javelin Throw,NaN,No
3,Athletics,49,Moonika Aava,F,28.0,66.14,143.30,Estonia,EST,2008 Summer,2008,Summer,Beijing,Athletics Women's Javelin Throw,NaN,No
4,Athletics,52,Patrick Abada,M,22.0,74.41,176.37,France,FRA,1976 Summer,1976,Summer,Montreal,Athletics Men's Pole Vault,NaN,No
5,Athletics,55,Antonio Abadia Beci,M,26.0,66.93,143.30,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,"Athletics Men's 5,000 metres",NaN,No
6,Athletics,67,Mariya Vasilyevna Abakumova (-Tarabina),F,22.0,70.47,176.37,Russia,RUS,2008 Summer,2008,Summer,Beijing,Athletics Women's Javelin Throw,Silver,Yes
7,Athletics,67,Mariya Vasilyevna Abakumova (-Tarabina),F,26.0,70.47,176.37,Russia,RUS,2012 Summer,2012,Summer,London,Athletics Women's Javelin Throw,NaN,No
8,Athletics,86,Jos Manuel Abascal Gmez,M,22.0,71.65,147.71,Spain,ESP,1980 Summer,1980,Summer,Moskva,"Athletics Men's 1,500 metres",NaN,No
9,Athletics,86,Jos Manuel Abascal Gmez,M,26.0,71.65,147.71,Spain,ESP,1984 Summer,1984,Summer,Los Angeles,"Athletics Men's 1,500 metres",Bronze,Yes
10,Athletics,88,Nunu Dzhansuhivna Abashydze (-Myslaieva),F,25.0,66.14,231.49,Soviet Union,URS,1980 Summer,1980,Summer,Moskva,Athletics Women's Shot Put,NaN,No
11,Athletics,91,Emanuele Abate,M,27.0,74.80,176.37,Italy,ITA,2012 Summer,2012,Summer,London,Athletics Men's 110 metres Hurdles,NaN,No
12,Athletics,95,Georgia Abatzidou,F,35.0,61.02,94.80,Greece,GRE,2004 Summer,2004,Summer,Athina,Athletics Women's Marathon,NaN,No
13,Athletics,96,Carlos Rodolfo Abaunza Balladares,M,18.0,66.14,132.28,Nicaragua,NCA,2004 Summer,2004,Summer,Athina,Athletics Men's 100 metres,NaN,No
14,Athletics,97,Carlos Alberto Abaunza,M,16.0,70.87,154.32,Nicaragua,NCA,1976 Summer,1976,Summer,Montreal,Athletics Men's High Jump,NaN,No
15,Athletics,109,Abdul Latif Al-Sayed Abbas Youssef Hashem,M,23.0,69.29,141.10,Kuwait,KUW,1976 Summer,1976,Summer,Montreal,Athletics Men's 400 metres Hurdles,NaN,No
16,Athletics,109,Abdul Latif Al-Sayed Abbas Youssef Hashem,M,23.0,69.29,141.10,Kuwait,KUW,1976 Summer,1976,Summer,Montreal,Athletics Men's 4 x 100 metres Relay,NaN,No
17,Athletics,109,Abdul Latif Al-Sayed Abbas Youssef Hashem,M,27.0,69.29,141.10,Kuwait,KUW,1980 Summer,1980,Summer,Moskva,Athletics Men's 400 metres Hurdles,NaN,No
18,Athletics,110,Abubakar Abbas Abbas,M,20.0,68.90,145.51,Bahrain,BRN,2016 Summer,2016,Summer,Rio de Janeiro,Athletics Men's 400 metres,NaN,No
19,Athletics,111,Aqarab Abbas,M,22.0,74.80,194.01,Pakistan,PAK,1996 Summer,1996,Summer,Atlanta,Athletics Men's Hammer Throw,NaN,No
20,Athletics,114,Essa Abbas Faleh Hashem,M,20.0,62.99,143.30,Kuwait,KUW,1980 Summer,1980,Summer,Moskva,Athletics Men's Long Jump,NaN,No
21,Athletics,115,Ghulam Abbas,M,24.0,71.26,163.14,Pakistan,PAK,1992 Summer,1992,Summer,Barcelona,Athletics Men's 400 metres Hurdles,NaN,No
22,Athletics,117,Maher Abbas,M,22.0,70.08,171.96,Lebanon,LIB,1988 Summer,1988,Summer,Seoul,Athletics Men's 400 metres,NaN,No
23,Athletics,117,Maher Abbas,M,22.0,70.08,171.96,Lebanon,LIB,1988 Summer,1988,Summer,Seoul,Athletics Men's 800 metres,NaN,No
24,Athletics,129,Ruslan Abbasov,M,22.0,71.26,163.14,Azerbaijan,AZE,2008 Summer,2008,Summer,Beijing,Athletics Men's 100 metres,NaN,No
25,Athletics,160,Ali Abdalla Afringi,M,25.0,64.17,125.66,Eritrea,ERI,2008 Summer,2008,Summer,Beijing,"Athletics Men's 5,000 metres",NaN,No
26,Athletics,166,Omari Abdallah,M,21.0,66.14,125.66,Tanzania,TAN,1964 Summer,1964,Summer,Tokyo,Athletics Men's Marathon,NaN,No
27,Athletics,166,Omari Abdallah,M,29.0,66.14,125.66,Tanzania,TAN,1972 Summer,1972,Summer,Munich,Athletics Men's 4 x 400 metres Relay,NaN,No
28,Athletics,168,Younis Abdallah Rabee,M,23.0,66.54,149.91,Kuwait,KUW,1972 Summer,1972,Summer,Munich,Athletics Men's 100 metres,NaN,No
29,Athletics,169,Raida Abdallah Bader,F,19.0,62.20,108.03,Jordan,JOR,1984 Summer,1984,Summer,Los Angeles,"Athletics Women's 3,000 metres",NaN,No
30,Athletics,179,Ibrahim Saad Abdel Galil,M,NaN,69.29,160.94,Sudan,SUD,1972 Summer,1972,Summer,Munich,Athletics Men's 200 metres,NaN,No
31,Athletics,179,Ibrahim Saad Abdel Galil,M,NaN,69.29,160.94,Sudan,SUD,1972 Summer,1972,Summer,Munich,Athletics Men's 4 x 400 metres Relay,NaN,No
32,Athletics,194,Moustafa Mounib Abdel Kader,M,NaN,69.29,147.71,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Athletics Men's 100 metres,NaN,No
33,Athletics,204,Moustafa Abdel Naser,M,21.0,69.29,163.14,Libya,LBA,1996 Summer,1996,Summer,Atlanta,Athletics Men's 400 metres,NaN,No
34,Athletics,234,Abdalla Abdelgadir El-Sheikh,M,21.0,66.93,127.87,Sudan,SUD,2008 Summer,2008,Summer,Beijing,"Athletics Men's 1,500 metres",NaN,No
35,Athletics,243,Ihab Abdelrahman El-Sayed Abdelrahman,M,23.0,76.38,211.64,Egypt,EGY,2012 Summer,2012,Summer,London,Athletics Men's Javelin Throw,NaN,No
36,Athletics,247,El-Hachemi Abdenouz,M,24.0,66.93,138.89,Algeria,ALG,1980 Summer,1980,Summer,Moskva,"Athletics Men's 5,000 metres",NaN,No
37,Athletics,248,Rda Abdenouz,M,19.0,66.93,138.89,Algeria,ALG,1988 Summer,1988,Summer,Seoul,Athletics Men's 800 metres,NaN,No
38,Athletics,248,Rda Abdenouz,M,23.0,66.93,138.89,Algeria,ALG,1992 Summer,1992,Summer,Barcelona,Athletics Men's 800 metres,NaN,No
39,Athletics,251,Bashir Abdi,M,27.0,69.29,123.46,Belgium,BEL,2016 Summer,2016,Summer,Rio de Janeiro,"Athletics Men's 5,000 metres",NaN,No
40,Athletics,251,Bashir Abdi,M,27.0,69.29,123.46,Belgium,BEL,2016 Summer,2016,Summer,Rio de Janeiro,"Athletics Men's 10,000 metres",NaN,No
41,Athletics,252,Youcef Abdi,M,30.0,70.08,145.51,Australia,AUS,2008 Summer,2008,Summer,Beijing,"Athletics Men's 3,000 metres Steeplechase",NaN,No
42,Athletics,252,Youcef Abdi,M,34.0,70.08,145.51,Australia,AUS,2012 Summer,2012,Summer,London,"Athletics Men's 3,000 metres Steeplechase",NaN,No
43,Athletics,253,Jamal Abdi Hassan Abdullah,M,19.0,69.69,143.30,Qatar,QAT,1992 Summer,1992,Summer,Barcelona,"Athletics Men's 3,000 metres Steeplechase",NaN,No
44,Athletics,253,Jamal Abdi Hassan Abdullah,M,23.0,69.69,143.30,Qatar,QAT,1996 Summer,1996,Summer,Atlanta,"Athletics Men's 3,000 metres Steeplechase",NaN,No
45,Athletics,254,Talal Omar Abdillahi,M,21.0,66.93,125.66,Djibouti,DJI,1988 Summer,1988,Summer,Seoul,"Athletics Men's 10,000 metres",NaN,No
46,Athletics,254,Talal Omar Abdillahi,M,25.0,66.93,125.66,Djibouti,DJI,1992 Summer,1992,Summer,Barcelona,Athletics Men's Marathon,NaN,No
47,Athletics,256,"Abdihakim ""Abdi"" Abdirahman",M,23.0,70.08,134.48,United States,USA,2000 Summer,2000,Summer,Sydney,"Athletics Men's 10,000 metres",NaN,No
48,Athletics,256,"Abdihakim ""Abdi"" Abdirahman",M,27.0,70.08,134.48,United States,USA,2004 Summer,2004,Summer,Athina,"Athletics Men's 10,000 metres",NaN,No
49,Athletics,256,"Abdihakim ""Abdi"" Abdirahman",M,31.0,70.08,134.48,United States,USA,2008 Summer,2008,Summer,Beijing,"Athletics Men's 10,000 metres",NaN,No

## splitting out the data sets by gender

In [73]:
mens_data = reallyCleanData.loc[reallyCleanData['Sex']=='M']
# len(mens_data)

womens_data = reallyCleanData.loc[reallyCleanData['Sex']=='F']
len(womens_data)

42278

In [7]:
# noc regions
regions_file = os.path.join("..", "data", "rawData", "noc_regions.csv")
regions_df = pd.read_csv(regions_file, encoding="ISO-8859-1")
regions_df.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN